.fotoGrande {
    width: 40vw;
    height: calc(100vh+48px);
    /* justify-content: center;
    overflow: hidden; */
    /* background-color: black; */
    overflow: hidden;
    display: flex;
    align-items: center;
}

.fotoGrande img {
    overflow: hidden;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.talleres-info {
    height: auto;
}

.fl {
    justify-content: space-between;
}

#informational-text-paragrafos {
    width: 80%;
}

#informational-text-paragrafos-menosw {
    display: none;
}

@media (max-width: 1134px) {
    #informational-text-paragrafos {
        display: none;
    }
    #informational-text-paragrafos-menosw {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .fotoGrande {
        display: none;
    }
}

@media (max-width:425px) {
    html {
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .talleres-info {
        height: 600px
    }
}

